/* Reset default styles and apply some global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'heebo';
    background-color: var(--white-bg);
    max-height: 100vh;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* First Header Styles */
  header {
    background-color: var(--skyBlue-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
  }
  
  .header-logo {
    width: 170px;
  }
  
  /* Main Section Styles */
  .formsection {
    text-align: center;
    margin-top: 50px;
  }
  
  .formsection h1 {
    font-size: 2.5rem;
    color: var(--text-light-black);
  }
  
  .formsection p {
    font-size: 1.5rem;
    padding-top: 20px;
  }
  
  form {
    text-align: center;
    margin-top: 0px;
  }
  
  /* Form Elements */
  form div {
    display: flex;
    justify-content: center;
  }
  
  #displayNetwork {
    width: 60px;
    height: 50px;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 40px;
  }
  
  #displayNetworkImg {
    width: 59px;
    height: 48px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  #carrierSelect {
    height: 30px; /* Adjust the height as needed */
  }
  
  #phoneNumber {
    height: 30px; /* Set the desired height for the text field */
  }
  
  button {
    padding: 10px;
    background-color: var(--orange-btn);
    width: 350px;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    box-shadow: 1px 3px 3px #9ad7f3;
    margin-top: 10px; /* Added margin for better spacing */
  }
  
  button:hover {
    background-color: var(--orange-btn-hover);
  }
  
  /* Fancy Background Styles */
  .fancy-bg {
    font-size: 48px;
    padding: 20px;
    border: 1px solid #ccc;
    max-width: 90%;
    height: 250px;
    border-radius: 7px;
    margin: 30px;
  }
  
  /* Carrier Logo Styles */
  .fancy-bg .logo img {
    width: 90px;
    margin-top: 0px;
    margin-left: 390px;
    display: none;
  }
  
  /* Custom Styles for Carrier Logos */
  .mtn-logo img {
    width: 100px;
    margin-top: 0px;
    margin-left: 390px;
  }
  
  .airtel-logo img {
    width: 90px;
    margin-top: 0px;
    margin-left: 390px;
  }
  
  .mobile-logo img {
    width: 100px;
    margin-top: 0px;
    margin-left: 390px;
  }
  
  .glo-logo img {
    width: 90px;
    margin-top: 0px;
    margin-left: 390px;
  }
  
  .nocarrier-logo img {
    width: 90px;
    margin-top: 0px;
    margin-left: 390px;
  }
  
  #phoneForm > div {
    display: flex;
    justify-content: center;
  }
  
  #carrierResult {
    text-align: center;
    margin-top: 20px;
  }
  